/* glory-regular - latin */
@font-face {
  font-family: "Glory";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ww/glory-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ww/glory-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ww/glory-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ww/glory-v9-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/ww/glory-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ww/glory-v9-latin-regular.svg#Glory") format("svg"); /* Legacy iOS */
}
/* glory-500 - latin */
@font-face {
  font-family: "Glory";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ww/glory-v9-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ww/glory-v9-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ww/glory-v9-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ww/glory-v9-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/ww/glory-v9-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/ww/glory-v9-latin-500.svg#Glory")
      format("svg"); /* Legacy iOS */
}
/* glory-700 - latin */
@font-face {
  font-family: "Glory";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ww/glory-v9-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ww/glory-v9-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ww/glory-v9-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ww/glory-v9-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/ww/glory-v9-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/ww/glory-v9-latin-700.svg#Glory")
      format("svg"); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  display: flex;
  padding: 0px 60px 0px 40px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-family: "Glory";
  font-size: 1.875rem;
}
