* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background:  #44403F;
}
.header {
  max-width: 1440px;
  margin: auto;
}
.nav {
  padding: 10px 0px;
  display: flex;
  background: #403c3b;
  align-items: center;
    border-bottom: 1px solid #fff;
}
.logo {
  cursor: pointer;
  margin-left: 70px;
  font-family: "Glory";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  color: white;
  margin-right: 70px;
}
.input-nav {
  background: #504b4a;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px 10px 15px 7px;
}
.input1 {
  font-weight: 700;
  border: none;
  background: none;
  color: #cfcfcf;
}

.icon-img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.icon-img1 {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 180px;
}
.nav-call {
  margin-right: 10px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border: white;
  background-image: linear-gradient(#618967, #72a479);
  border-radius: 50%;
  overflow: hidden;
}
.t1 {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.text {
  color: #cfcfcf;
  font-family: "Glory";
  font-weight: 400;
}
.btn {
  padding: 18px 40px 18px 40px;
  cursor: pointer;
  margin-left: 300px;
  font-size: 18px;
  background-image: linear-gradient(#618967, #72a479);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Glory";
  border: none;
  font-weight: 500;
  color: white;
}
.btn:hover {
  transition: 0.7s;
  color: #000000;
  background: #cfcfcf;
  box-shadow: 0px 0px 10px 4px #618967;
}

.btnn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 10px;
  background: white;
  overflow: hidden;
  width: 25px;
  font-weight: 700;
  height: 25px;
  border-radius: 50%;
}

.nav2 {
    margin-bottom: 0;
  color: #cfcfcf;
  display: flex;
  border-bottom: 3px solid #464242;
  justify-content: center;
  gap: 60px;
  background: #403d3c;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Glory";
  margin: 30px 0px;
  font-size: 18px;
  font-weight: 400;

  color: #cfcfcf;
}
.nav-link:hover {
  border-radius: 10px;
  transition: 0.7s;
  box-shadow: 0px 0px 10px 4px #618967;
}

.center{
    margin-top: 0;
    max-width: 1440px;
    margin: auto;
    padding-left: 90px;
    background: #44403F;
}
.h1{
    border-left: 5px solid #618967;
    color: white;
    padding-left: 19px;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.card{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    background: #44403F;

}
.card__items{
    max-width: 440px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;}
.title{
    color: #fff;
    padding-left: 25px ;
}
.text{
    color:#A6A7AB;
    padding-left: 25px ;

}
.date{
    color:  #6FA076;
    width: 392px;
    padding: 5px 25px 19px 25px ;
    padding-bottom: 14px;
    font-size: 14px;
}