:root {
  --bg: linear-gradient(360deg, #211f20 0%, #44403f 100%);
  --btn: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  --fonts: "Gilroy";
  --h3: 32px;
  --color: #ffffff;
  --color2: #cfcfcf;
  --border: #618967;
  --card: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  --radios: 0.625rem;
}
body {
  margin: 0;
}

main {
  margin: 0 auto;
  background: var(--bg);
  font-family: var(--fonts);
  color: var(--color);
}
.line {
  border-top: var(--color2) solid 1px;
  border-bottom: var(--color2) solid 1px;
}
.comeback {
  padding-left: 113px;
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: var(--btn);
    border-radius: 50%;
    border: none;
    color: var(--color);
    font-size: 20px;
  }
  .h5 {
    color: var(--color);
    font-size: 20px;
  }
}
.first {
  margin: 0 auto;
  max-width: 1210px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background: var(--card);
  border-radius: var(--radios);
  margin-bottom: 60px;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    text-align: center;
    gap: 20px;
    @media (max-width: 720px) {
      max-width: 0px;
    }
  }

  .first__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 0 25px 0;
    @media (max-width: 992px) {
      align-items: center;
    }
  }
  .p {
    color: var(--color2);
    max-width: 411px;
    margin: 0;
  }
  .p-113 {
    padding-bottom: 113px;
    @media (max-width: 992px) {
      padding-bottom: 50px;
    }
  }
  .h5 {
    font-size: 22px;
    margin: 0;
  }

  .btn {
    background: var(--btn);
    color: var(--color);
    border: none;
    border-radius: var(--radios);
    padding: 15px 20px;
  }
  .buy {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
  }
  .first__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gr {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .gr-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .p2 {
    margin: 0;
  }
}

section {
  .h3 {
    margin-left: 5.6875rem;
    margin-bottom: 60px;
    color: var(--color);
    font-size: var(--h3);
    font-family: var(--fonts);
    line-height: 2.4375rem;
    padding-left: 1.1875rem;
    border-left: var(--border) 0.25rem solid;
  }
  .menu {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    @media (min-width: 1380px) {
      display: flex;
      justify-content: space-evenly;
    }
  }
  .card-del3 {
    @media (max-width: 1380px) {
      display: none;
    }
  }
  .card-del2 {
    @media (max-width: 1040px) {
      display: none;
    }
  }
  .card-del {
    @media (max-width: 720px) {
      display: none;
    }
  }
  .card {
    background: var(--card);
    border-radius: var(--radios);
  }
  .ca .img {
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border);
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0 1.25rem;
  }
  .card-name {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color);
  }
  .h5 {
    font-size: 22px;
    margin: 0;
  }
  .prace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color);
    // margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: auto;
  }
  .p {
    color: var(--color2);
    margin: 0;
  }

  .btn {
    background: var(--btn);
    color: var(--color);
    border: none;
    border-radius: var(--radios);
    padding: 15px 20px;
    align-items: center;
  }
}

.map {
  padding: 100px;
  background-size: cover;
  background-image: url(../img/Mask\ Group.png);
  // overflow: hidden;
  // object-fit: cover;

  .contact {
    background: var(--bg);
    border-radius: var(--radios);
    padding: 25px 45px;
    display: flex;
    flex-direction: column;
    max-width: 526px;

    .h3 {
      padding-bottom: 25px;
      border-bottom: var(--color2) 1px solid;
      color: var(--color);
      font-size: 30px;
    }
    .p {
      margin: 0;
      color: var(--color2);
    }
    .p-map {
      margin: 0;

      color: var(--color);
      padding-top: 8px;
      padding-bottom: 20px;
    }
    .p-map2 {
      margin: 0;
      color: var(--color);
      padding-bottom: 50px;
      padding-top: 8px;
      border-bottom: var(--color2) 1px solid;
    }
    .map-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color);
      margin-bottom: 20px;
      margin-top: 15px;
    }

    .btn {
      background: var(--btn);
      color: var(--color);
      border: none;
      border-radius: var(--radios);
      padding: 15px 20px;
      align-items: center;
    }
  }
}
