:root {
  --bg: linear-gradient(360deg, #211f20 0%, #44403f 100%);
  --btn: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  --fonts: "Gilroy";
  --h3: 32px;
  --color: #ffffff;
  --color2: #cfcfcf;
  --border: #618967;
  --card: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  --radios: 0.625rem;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
  background: var(--bg);
  font-family: var(--fonts);
  color: var(--color);
}

.line {
  border-top: var(--color2) solid 1px;
  border-bottom: var(--color2) solid 1px;
}

.comeback {
  padding-left: 113px;
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.comeback .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: var(--btn);
  border-radius: 50%;
  border: none;
  color: var(--color);
  font-size: 20px;
}
.comeback .h5 {
  color: var(--color);
  font-size: 20px;
}

.first {
  margin: 0 auto;
  max-width: 1210px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background: var(--card);
  border-radius: var(--radios);
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .first {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    text-align: center;
    gap: 20px;
  }
}
@media (max-width: 992px) and (max-width: 720px) {
  .first {
    max-width: 450px;
  }
}
.first .first__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 0 25px 0;
}
@media (max-width: 992px) {
  .first .first__info {
    align-items: center;
  }
}
.first .p {
  color: var(--color2);
  max-width: 411px;
  margin: 0;
}
.first .p-113 {
  padding-bottom: 113px;
}
@media (max-width: 992px) {
  .first .p-113 {
    padding-bottom: 50px;
  }
}
.first .h5 {
  font-size: 22px;
  margin: 0;
}
.first .btn {
  background: var(--btn);
  color: var(--color);
  border: none;
  border-radius: var(--radios);
  padding: 15px 20px;
}
.first .buy {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}
.first .first__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.first .gr {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.first .gr-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.first .p2 {
  margin: 0;
}

section .h3 {
  margin-left: 5.6875rem;
  margin-bottom: 60px;
  color: var(--color);
  font-size: var(--h3);
  font-family: var(--fonts);
  line-height: 2.4375rem;
  padding-left: 1.1875rem;
  border-left: var(--border) 0.25rem solid;
}
section .menu {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
@media (min-width: 1380px) {
  section .menu {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (max-width: 1380px) {
  section .card-del3 {
    display: none;
  }
}
@media (max-width: 1040px) {
  section .card-del2 {
    display: none;
  }
}
@media (max-width: 720px) {
  section .card-del {
    display: none;
  }
}
section .card {
  background: var(--card);
  border-radius: var(--radios);
}
section .ca .img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: var(--border);
}
section .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0 1.25rem;
}
section .card-name {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
}
section .h5 {
  font-size: 22px;
  margin: 0;
}
section .prace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  margin-top: 15px;
  padding: 10px;
  margin-bottom: auto;
}
section .p {
  color: var(--color2);
  margin: 0;
}
section .btn {
  background: var(--btn);
  color: var(--color);
  border: none;
  border-radius: var(--radios);
  padding: 15px 20px;
  align-items: center;
}

.map {
  padding: 100px;
  background-size: cover;
  background-image: url(../img/Mask\ Group.png);
}
.map .contact {
  background: var(--bg);
  border-radius: var(--radios);
  padding: 25px 45px;
  display: flex;
  flex-direction: column;
  max-width: 526px;
}
.map .contact .h3 {
  padding-bottom: 25px;
  border-bottom: var(--color2) 1px solid;
  color: var(--color);
  font-size: 30px;
}
.map .contact .p {
  margin: 0;
  color: var(--color2);
}
.map .contact .p-map {
  margin: 0;
  color: var(--color);
  padding-top: 8px;
  padding-bottom: 20px;
}
.map .contact .p-map2 {
  margin: 0;
  color: var(--color);
  padding-bottom: 50px;
  padding-top: 8px;
  border-bottom: var(--color2) 1px solid;
}
.map .contact .map-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  margin-bottom: 20px;
  margin-top: 15px;
}
.map .contact .btn {
  background: var(--btn);
  color: var(--color);
  border: none;
  border-radius: var(--radios);
  padding: 15px 20px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */